/* src/pages/LoginPage.css */
.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.border {
  border-radius: 10px;
  border: 1px solid #ccc;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 400px; /* Adjust width as needed */
  margin-top: 30px;
}

.p-6 {
  padding: 24px;
}

.bg-white {
  background-color: #ffffff;
}

.dark:bg-gray-800 {
  background-color: #1a202c;
}

.space-y-6 > * + * {
  margin-top: 14px;
}

.text-xl {
  font-size: 1.7rem; /* Increased font size */
   
}

.font-medium {
  font-weight: 700;
}

.text-gray-900 {
  color: #333333;
}

.dark:text-white {
  color: #ffffff;
}

.text-center {
  text-align: center;
}

.text-red-500 {
  color: #e53e3e;
}

.form-group {
  margin-bottom: 24px;
}

.label {
  display: block;
  margin-bottom: 5px;
  font-size: 1rem;
  color: #333;
}

.input {
  width: 90%;
  padding: 10px; /* Decreased padding */
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1rem;
  transition: border-color 0.3s;
}

.input:focus {
  outline: none;
  border-color: #007bff;
}

.btn {
  display: block;
  width: 200px; /* Adjust width as needed */
  margin: 0 auto; /* Center horizontally */
  padding: 14px; /* Increased padding */
  background-color: #007bff;
  color: #ffffff;
  /* Bold text */
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.btn:hover {
  background-color: #0056b3;
}
