/* src/pages/LoginPage.css */
.flex {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Full height of the viewport */
}

.border {
  border-radius: 10px;
  border: 1px solid #ccc;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 90%;
  max-width: 300px; /* Decreased width */
  margin: 0px auto 0; /* Updated margin-top */
  padding: 24px;
  background-color: #fff; /* White background */
}

.text-xl {
  font-size: 1.7rem;
  font-weight: bold;
  text-align: center;
  margin-bottom: 20px;
}

.font-medium {
  font-weight: 700;
}

.label {
  display: block;
  margin-bottom: 10px;
  font-size: 1rem;
  color: #333;
}

.input {
  width: 90%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1rem;
  transition: border-color 0.3s;
}

.input:focus {
  outline: none;
  border-color: #007bff;
}

.btn {
  display: block;
  width: 100%;
  padding: 14px;
  background-color: #007bff;
  color: #ffffff;
  font-size: 1rem;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.btn:hover {
  background-color: #0056b3;
}
