src/pages/StudyMaterialsPage.css
.study-materials-page {
  max-width: 800px;
  margin: 0 auto;
  padding: 40px;
  background-color: #f8f9fa;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: center; /* Align contents to center */
}

.studyform {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 20px;
  align-items: center;
}

.labl {
  font-size: 1.2rem;
  font-weight: bold;
}


.selct {
  padding: 10px;
  border: 1px solid #ced4da;
  border-radius: 5px;
  width: 100%;
  font-size: 1rem;
  transition: border-color 0.3s;
}

input:focus,
select:focus {
  outline: none;
  border-color: #007bff;
}

.buton {
  border: none;
  border-radius: 5px;
  padding: 8px 20px;
  background-color: #3d3d52;
  color: white;
  font-size: 1.2rem;
  cursor: pointer;
  transition: background-color 0.3s;
  justify-self: center; /* Center the button horizontally */
  grid-column: span 2; /* Make the button span across both columns */
}

button:hover {
  background-color: #545d66;
}

#study-mat-text {
  font-size: 2rem;
  margin-bottom: 20px;
}
