/* src/components/AdminHeader.css */

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: #00050b; /* Dark blue */
  color: white;
}

.navbar__left {
  flex: 1;
  text-align: left;
}

.navbar__center {
  flex: 1;
  text-align: center;
}

.navbar__logo {
  font-size: 1.8rem;
  color: white;
  text-decoration: none;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.navbar__right {
  flex: 1;
  text-align: right;
}

.navbar__button {
  background-color: transparent;
  border: none;
  color: white;
  cursor: pointer;
}

.back-btn {
  font-size: 1.2rem;
  color: white;
  text-decoration: none;
}

@media (max-width: 768px) {
  .navbar__left {
    flex-basis: auto;
  }
  
  .navbar__right {
    flex-basis: auto;
  }
}
