/* src/components/Header.css */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: #00050b; /* Dark blue */
  color: white;
}

.navbar__center {
  flex-grow: 1;
  text-align: center;
}

.navbar__logo {
  font-size: 1.5rem;
  color: white;
  text-decoration: none;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.navbar__right {
  margin-left: auto;
  margin-right: auto;
}

.navbar__icon {
  font-size: 1.5rem;
  cursor: pointer;
}

.navbar__menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.999); /* Semi-transparent black */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 1000; /* Ensure it's above other content */
  transform: translateX(-100%);
  transition: transform 0.3s ease-in-out;
}

.navbar__menu.open {
  transform: translateX(0%);
}

.navbar__close-btn {
  position: absolute;
  top: 10px;
  left: 10px;
  background: none;
  border: none;
  color: white;
  font-size: 2rem;
  cursor: pointer;
}

.navbar__list {
  list-style-type: none;
  padding: 0;
  text-align: center;
}

.navbar__item {
  padding: 1rem;
  font-size: 1.2rem;
}

.navbar__item a {
  color: white;
  text-decoration: none;
}

.navbar__item:hover {
  background-color: rgba(255, 255, 255, 0.2); /* Transparent white on hover */
}

.navbar__item.active {
  background-color: rgba(255, 255, 255, 0.4); /* Semi-transparent white for active tab */
}

@media (min-width: 768px) {
  .navbar__menu {
    display: flex;
    position: static;
    width: auto;
    height: auto;
    background-color: transparent;
    transform: none;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin-top: 5rem;
  }
.navbar__center{
  margin-right: 21rem;
  margin-bottom: 3rem;
}
  .navbar__icon {
    display: none;
  }

  .navbar__list {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
  }

  .navbar__item {
    padding: 0 1rem;
  }
}
