/* src/components/Poster.css */
.poster {
  border: 1px solid #ddd;
  padding: 10px;
  text-align: left;
  background-color: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
}

.poster:hover {
  transform: translateY(-5px);
}

.poster-image {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
}

.poster-details {
  padding: 10px;
}

/* Additional styling for the text */
#poster-details-text {
  margin: 5px 0;
  font-size: 14px;
}

/* Adjustments for desktop view */
@media (min-width: 768px) {
  .poster {
    max-width: 250px; /* Reduced width for desktop posters */
  }
}

/* Adjustments for mobile view */
@media (max-width: 767px) {
  .poster {
    max-width: calc(100% - 90px); /* Full width for mobile posters */
    margin: 10px;
  }
}
.viewbtn{
  width: 70%;
}
.editbtn{
  display: flex;
}