/* Default styles */
.header {
  background-color: #000000;
  color: #fff;
  padding: 20px;
  display: flex;
  align-items: center;
}

#login-button {
  border-radius: 10px;
  margin-bottom: 5px;
}

.logo {
  font-size: 20px;
  font-weight: bold;
  flex-grow: 1;
  text-align: center;
}

.login-button {
  margin-left: auto;
}

button {
  color: #000000;
  background-color: rgb(255, 255, 255);
}

.menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  background-color: #fff;
  z-index: 1;
  display: flex;
  flex-direction: column;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.menu a {
  text-decoration: none;
  color: #333;
  font-size: 18px;
  margin-bottom: 10px;
}

.close-icon {
  font-size: 24px;
  cursor: pointer;
  margin-top: auto;
}

/* Media query for desktop view */
@media only screen and (min-width: 768px) {
  .mobile-header {
    display: none; /* Hide mobile header on desktop view */
  }

  .menu {
    display: flex !important; /* Ensure menu is always displayed on desktop */
    position: static;
    width: auto;
    height: auto;
    background-color: transparent;
    box-shadow: none;
    padding: 0;
    flex-direction: row;
  }

  .menu a {
    margin-right: 20px; /* Add margin between menu items */
    margin-bottom: 0; /* Reset margin bottom */
  }
}
button{
  
}
.editbtn{
display: flex;
}